name: Publish

on:
  workflow_dispatch:
  release:
    types:
      - published

env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

defaults:
  run:
    shell: pwsh

jobs:
  package-for-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.x
      - run: dotnet pack -c Release -o "./artifacts"
      - uses: actions/upload-artifact@v4
        with:
          name: release-pack-nupkg
          if-no-files-found: error
          retention-days: 7
          path: artifacts/*.nupkg
  
  validate-package:
    runs-on: ubuntu-latest
    needs: [ package-for-release ]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.x
      - run: dotnet tool restore
      - uses: actions/download-artifact@v5
        with:
          name: release-pack-nupkg
          path: artifacts
      - name: Run nuget package validation
        run: |
          foreach($file in (Get-ChildItem "./artifacts/" -Recurse -Include *.nupkg)) {
              dotnet meziantou.validate-nuget-package $file
          }
      
  publish-to-nuget-and-gh-release:
    # Publish only when creating a github release
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs: [ package-for-release, validate-package ]
    permissions:
      contents: write # Necessary for github release upload
      id-token: write # Necessary for NuGet OIDC auth flow
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: release-pack-nupkg
          path: artifacts/*.nupkg
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.x
      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}
      - name: Upload nupkg to nuget
        run: |
          foreach($file in (Get-ChildItem "./artifacts/" -Recurse -Include *.nupkg)) {
              dotnet nuget push $file --api-key "${{ steps.login.outputs.NUGET_API_KEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
          }
      - name: Upload nupkg to github release
        run: |
          foreach($file in (Get-ChildItem "./artifacts/" -Recurse -Include *.nupkg)) {
              gh release upload "${{ github.event.release.tag_name }}" $file
          }
        env:
          GH_TOKEN: ${{ github.token }}